.box-button{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    height: auto;
    flex-wrap: wrap;
    padding: 2px;
    border: 3px solid black;
    background-color: #52796f;

}

.icon{
    font-size: 1.8vw;
    padding: 1px;
    color: #cad2c5;
}
@media (max-width: 900px) {
    .box-button .icon{
        font-size: 13px;
        color: #cad2c5;
    }
}

#thumb-icon{
    color: dodgerblue;
}
#favorite-icon{
    color: darkred;
}
#remove-icon{
    color: coral;
}
