.sfondo {
    position: relative;
    background: url("https://i.imgur.com/Abm0wRq.jpg") center/cover no-repeat;
    overflow: hidden;
}

/* livello di sfondo sfocato */
.sfondo::before {
    content: "";
    position: absolute;
    inset: 0; /* prende tutta l'area del genitore (sfondo login), equivale a top 0, left 0, bottom 0, right 0 */
    background: inherit;          /* eredita tutto lo sfondo in un’unica proprietà */
    filter: blur(8px);
    transform: scale(1.05);
    z-index: 0;
}

.sfondo > * {
    position: relative;
    z-index: 1;
}

/* contenitore principale della pagina */
.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page-container form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 4rem;
    margin-bottom: 3.5rem;
    border-radius: 8%;
    background-color: #a4c3b2ff;
    min-width: 20vw;
    max-width: 30vw;
}


.page-container button {
    margin-top: 2rem;
    padding: 0.75rem;
    border: none;
    border-radius: 20px;
    background-color: #344e41;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.2s;
}

.page-container button:hover {
    background-color: black;
}


.registration-login-link{
    margin-top: 4rem;
    background-color: #000000;
    padding:0.5%;
    color:white;
}

/*classe creata per gestire l'allineamento a destra */
.forgot-password-container{
    display: flex;
    justify-content: center;
    background-color: #344e41;
    padding: 0.5%;
    border-radius: 20px;
    margin-bottom: 3.5rem;
    text-align: left;
}

button.link-style-button {
    /* Resetta l'aspetto del pulsante */
    background: none;
    border: none;
    padding: 0;
    margin-top: 10px;

    /* Applica l'aspetto di un link */
    color: white; 
    text-decoration: none;
    font-family: inherit;
    font-size: 0.85rem; /* Più piccolo */
    /* Comportamento interattivo */
    cursor: pointer;
}

/* Aggiunge la sottolineatura al passaggio del mouse */
button.link-style-button:hover {
    background: none;
    text-decoration: underline;
}


